{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo

{% endblock %}


{% block content %}

    <h1>Flask and Turso Demo</h1>

    <section id="things">

        {% for thing in things %}
            <article id="item">
                <section id="item">
                    <p> <a href="/thing/{{thing.id}}">{{ thing.name }} - ${{thing.price}}</a></p>
                    <p><a type="button" href="/delete/{{thing.id}}" id="delete">DELETE</a></p>
                </section>
            </article>
        {% endfor %}
    </section>


{% endblock %}
